@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}


.scrollbar-none::-webkit-scrollbar {
  width: 6px; 
}

.scrollbar-none::-webkit-scrollbar-track {
  background: transparent; 
}

.scrollbar-none::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 3px;
}

.scrollbar-none {
  scrollbar-width: thin;
  scrollbar-color: rgba(100,100,100,0.3) transparent;
}
